version: "3.8"
services:
  movies:
    image: nileshkumar2343/paymovies:latest
    ports:
      - 81:80
    deploy:
      replicas: 3
  train:
    image: nileshkumar2343/paytrain:latest
    ports:
      - 82:80
    deploy:
      replicas: 3
  dth:
    image: nileshkumar2343/paydth:latest
    ports:
      - 83:80
    deploy:
      replicas: 3
  recharge:
    image: nileshkumar2343/payrecharge:latest
    ports:
      - 84:80
    deploy:
      replicas: 3
